In [1]:
# import libraries
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
# load data from database
dbname = '../data/disaster_db.db'
engine = create_engine('sqlite:///'+dbname)
tname = os.path.basename(dbname).replace('.db', '')+'_tb'
df = pd.read_sql_table(tname, engine)

In [3]:
# Checking the loaded data
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Checking number of rows and columns
df.shape

(26207, 40)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26207 non-null  int64
 1   message                 26207 non-null  object
 2   original                10223 non-null  object
 3   genre                   26207 non-null  object
 4   related                 26207 non-null  int64
 5   request                 26207 non-null  int64
 6   offer                   26207 non-null  int64
 7   aid_related             26207 non-null  int64
 8   medical_help            26207 non-null  int64
 9   medical_products        26207 non-null  int64
 10  search_and_rescue       26207 non-null  int64
 11  security                26207 non-null  int64
 12  military                26207 non-null  int64
 13  child_alone             26207 non-null  int64
 14  water                   26207 non-null  int64
 15  food                    26207 non-null  int64
 16  shelter                 26207 non-null  int64
 17  clothing                26207 non-null  int64
 18  money                   26207 non-null  int64
 19  missing_people          26207 non-null  int64
 20  refugees                26207 non-null  int64
 21  death                   26207 non-null  int64
 22  other_aid               26207 non-null  int64
 23  infrastructure_related  26207 non-null  int64
 24  transport               26207 non-null  int64
 25  buildings               26207 non-null  int64
 26  electricity             26207 non-null  int64
 27  tools                   26207 non-null  int64
 28  hospitals               26207 non-null  int64
 29  shops                   26207 non-null  int64
 30  aid_centers             26207 non-null  int64
 31  other_infrastructure    26207 non-null  int64
 32  weather_related         26207 non-null  int64
 33  floods                  26207 non-null  int64
 34  storm                   26207 non-null  int64
 35  fire                    26207 non-null  int64
 36  earthquake              26207 non-null  int64
 37  cold                    26207 non-null  int64
 38  other_weather           26207 non-null  int64
 39  direct_report           26207 non-null  int64
dtypes: int64(37), object(3)
memory usage: 8.0+ MB

In [6]:
df.describe()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,...,26207.000000,26207.00000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000
mean,15142.682375,0.774526,0.170947,0.004541,0.415080,0.079635,0.050139,0.027626,0.017972,0.032816,...,0.011791,0.04392,0.278628,0.082344,0.093410,0.010760,0.093601,0.020224,0.052505,0.193841
std,8780.194298,0.435081,0.376470,0.067233,0.492745,0.270733,0.218236,0.163902,0.132853,0.178157,...,0.107945,0.20492,0.448333,0.274894,0.291012,0.103175,0.291278,0.140767,0.223047,0.395314
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7408.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15568.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22805.500000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30111.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000